*{
    padding: 0;
    margin:0;
}

.container {
    width: 1000px;
    height: 100vh;
    background-color: blueviolet;
    margin: 0 auto;
}

.gallery-name{
    text-align: center;
    color: bisque;
    padding-top: 20px;
}
.gallery{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.gallery-item
{
    width: 300px;
}
@media screen and(max-width: 390px)
{
    /* .container {background-color: red;} */

    .gallery{
        flex-direction: column;
        align-items: ;
    }
}